@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables pour les couleurs de fond et de texte */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background) url("/images/download.svg");
  background-size: 4rem; /* Ajuste la taille de l'image */
  font-family: Arial, Helvetica, sans-serif;
}
