@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables pour les couleurs de fond et de texte */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e1015;
    --foreground: #ededed;
  }
}

body {
  @apply relative;
  color: var(--foreground);
  background: var(--background);
  background-size: 4rem; /* Ajuste la taille de l'image */
  font-family: Arial, Helvetica, sans-serif;
}
.content-scroll-animation {
  transition: transform 0.5s;
}
.custom-bg-size {

  background-size: 4rem;
}
.mask-image {
  -webkit-mask-image: linear-gradient(to top, transparent, black);
  mask-image: linear-gradient(to top, transparent, black);
}


.animate {
  @apply transition-all duration-200 ease-in-out;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}